
linux/.config/jesseduffield/lazygit/state.yml
linux/.config/vifm/vifminfo.json
linux/.config/jesseduffield/lazygit/state.yml
linux/.config/vifm/scripts/README
linux/.config/nvim/plugged
linux/.config/nvim/autoload
stow/.config/vifm/vifminfo.json
stow/dot-config/vifm/vifminfo.json
stow/dot-config/nvim/autoload
stow/dot-config/nvim/plugged
