#!/bin/bash

where () {
	hash "$@" 2> /dev/null
	hash -t "$@" 2> /dev/null
}

export TERMINAL="`where st` -z {{ .x11_font_size }} "

#switch to Termux:X11 app
am start --user 0 -n com.termux.x11/.MainActivity

# start x11 server
termux-x11 :0 -once -xstartup "bash $HOME/.xinitrc" -dpi {{ .x11_dpi }}


